@media all and (max-width: 1200px) {
	#welcome-words {
	}

	.projects-section {
	}
	
	.intro-section {
	}
	.about-section {
		font-size: .95em;
	}
	.contact-section {
	}
	#form-div {
		margin-left: 23em !important;
	}

	.projs {
		margin-left: 14.7em;
	}

}

@media all and (max-width: 991px) {
	#welcome-words {
	}

}


@media all and(min-width: 768px) and (max-width: 990px) {
	
	#scroll-btn {
	    margin-top: 8em !important;
	    display: block;
	}

	.projects-section {
	}
	.desc {
		margin-left: .5em !important;
		width: 40em !important;
	}
	.projs {
		margin-left: 2em !important;
	}
	.project-title {
		margin-left: auto !important;
		margin-right: auto !important;
	}
	#welcome-words {
	}
	.intro-section {
	}
	.about-section {
		font-size: .9em;
	}
	.contact-section {
	}
	#form-div {
		margin-left: 23em !important;
	}
}

@media all and(max-width: 768px) {
	
	
	#scroll-btn {
	    margin-top: 15em !important;
	    display: block;
	}

	.project-title {
		margin-left: auto !important;
		margin-right: auto !important;
	}

	.desc {
		width: 44em !important;
	}

	
	#welcome-words h1 {
	    font-size: 4em !important;
	}

	#scroll-btn {
	    margin-top: 4em !important;
	    display: block;
	}

	.intro-section {
	}

	.about-section {
		font-size: .9em;
	}

	.contact-section {
	}

	.projects-section {
	}

	.projs {
		margin-left: -2.4em !important;
	}

	#form-div {
		margin-left: 0em !important;
	}
}



@media all and(max-width: 600px) {
	
	#welcome-section {
		background-position: center center;
	}

	#crown {
		background-position: center center !important;
	}

	#name {
		width: 100% !important;
	}

	#welcome-words h1 {
	    font-size: 4em !important;
	}

	#welcome-words img {
		width: 15% !important;
	}

	.about-section {

	}

	.projects-section {
	}

	.project-title {
		margin-left: auto !important;
		margin-right: auto !important;
	}

	.desc {
		width: 40em !important;
	}

	#welcome-words {
	}
	.intro-section {
	}
	
	.contact-section {
	}
	
	.projs {
	    margin-left: 0em !important;
	}

	#form-div {
		margin-left: 0em !important;
	}

	.desc {
	    /* margin-left: .2em !important; */
	    width: 100% !important;
	}
	
}

@media all and(max-width: 415px) {
	
	#welcome-section {
		background-position: center center;
	}

	#crown {
		background-position: center center !important;
	}

	#name {
		width: 100% !important;
	}

	#welcome-words h1 {
	    font-size: 4em !important;
	}

	#welcome-words img {
		width: 25% !important;
	}


	.about-section {

	}

	.projects-section {
	}

	.project-title {
		margin-left: auto !important;
		margin-right: auto !important;
	}

	.desc {
	    /* margin-left: .2em !important; */
	    width: 100% !important;
	}

	#welcome-words {
	}
	.intro-section {
	}
	
	.contact-section {
	}
	
	.projs {
	    margin-left: 0em !important;
	}

	#form-div {
		margin-left: 0em !important;
	}

	input, textarea {
	    width: 100% !important;
	}
	
}