@media all and (max-width: 1200px) {
	
}

@media all and (max-width: 991px) {
	#welcome-words {
		margin-top: -44em;
	}
}


@media all and(min-width: 768px) and (max-width: 990px) {
	.projs {
		margin-left: 7em;
	}
	.projects-section {
		height: 63% !important;
	}
}

@media all and(max-width: 768px) {
	
	
}

@media all and(max-width: 500px) {
	
}