body {
	background-image: url("../imgs/Aboutme.JPG");
	margin-left: 2em;
	background-size: 100%;
}

header {
	width: 100%;
	position: fixed;
	z-index: 1000;
	margin-top: -7em;
	background-color: white;
	margin-left: -2em;
	margin-top: -20em;
	background-color: white;
	border-bottom: inset;
	opacity: .9;
}

#home_icon {
	width: 85px;
	height: 85px;
	-webkit-border-radius: 150px;
	margin-left: .2em;
	margin-top: .1em;
}

#home_icon:hover {
	opacity: .4;
	background-color: black;
}

#mb {
	font-family: Gill Sans, sans-serif;
	font-size: 3em;
	text-decoration: underline;
	margin-left: .3em;
	margin-top: -1.6em;
	margin-bottom: -1.7em;
	padding-bottom: .7em;
}

ul {
	font-family: 'Vollkorn', serif;
	font-size: 1.3em;
	color: #014b5d;
	list-style: none;
	margin-bottom: 3.5em;
	/*padding: .4em*/
}

ul li {
	display: inline-block;
	float: right;
	margin-right: 1.5em;
	margin-top: -.2em;
}


ul li a{
    padding: 5px 10px;
    color: #014b5d;
    text-decoration: none;
    transition: .4s ease-in-out;
}

ul li a:hover{
    text-decoration: underline;
	color: #cecea2;
}

ul li ul{
    display: none;
}

ul li:hover ul{
	display: block;
    padding: 5px 10px;;
    font-size: .6em;
    margin-top: -1.5em;
}

#button {
	display: none;
}

#options1 {
	margin-left: -5.8em;
	margin-top: 1.1em;
	margin-right: -.58em;
}

#options2 {
	margin-left: -4em;
	margin-top: 2.5em;
	margin-right: -1.1em;
	margin-bottom: .3em;
}

.chef {
	font-family: 'Vollkorn', serif;
	color: white;
	margin-top: -7em;
	margin-left: 19.0em;
	padding-bottom: 2em;
	position: absolute;
	transition: .4s ease-in-out;
	height: 100%;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	
}


h2 {
	margin-top: 1em;
	margin-bottom: -.5em;
	width: 100%;
	margin-left: .1em;
	margin-right: auto;
	text-align: center;
}

#triangle {
	
	width: 0;
	height: 0;
	border-left: 400px solid transparent;
	border-right: 400px solid transparent;
	border-top: 600px solid rgba(210, 180, 140, 0);
	margin-top: -7em;
	margin-left: -25em;
	transition: .4s ease-in-out;
	z-index: 10;
	position: absolute;
	top: 50%;
	left: 50%;
		
}

#triangle:hover {
	border-top: 500px solid rgba(253, 253, 253, 0.32);
}

.indent {
	text-align: center;
	margin-bottom: -1em;
}

#container {
    position: relative;
}


footer {
	text-align: center;
	margin-top: 20em;
	margin-bottom: 1.0em;
	margin-left: 22em;
	padding-top: 30em;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	/*width: 106.5%;
	background-color: black;
	margin-bottom: -10em;
	margin-left: -.5em;*/
}

#twitter {
	margin-bottom: .15em;
}

#twitter:hover {
	-webkit-filter: invert(50%);
}

#twitter:active{
	-webkit-filter: invert(10%);
}

#google {
	margin-bottom: .16em;
}

#google:hover {
	-webkit-filter: invert(50%);
}

#google:active{
	-webkit-filter: invert(10%);
}

#linkedin {
	margin-bottom: .2em
}

#linkedin:hover {
	-webkit-filter: invert(50%);
}

#linkedin:active{
	-webkit-filter: invert(10%);
}

#facebook:hover {
	-webkit-filter: invert(50%);
}

#facebook:active{
	-webkit-filter: invert(10%);
}

#github {
	margin-bottom: -.08em;
}

#github:hover {
	-webkit-filter: invert(50%);
}
	
#github:active{
	-webkit-filter: invert(10%);
}	

#the_gram:hover {
	-webkit-filter: invert(50%);
}

#the_gram:active{
	-webkit-filter: invert(10%);
}


@media screen and (max-width: 950px) {

body {
	background-image: url("../imgs/Aboutme.JPG");
	margin-left: 2em;
	background-size: 170%;
}

header {
	width: 100%;
	position: fixed;
	z-index: 1000;
	margin-top: -7em;
	background-color: white;
	margin-left: -2em;
	margin-top: -20em;
	background-color: white;
	border-bottom: inset;
	opacity: .9;
}

#home_icon {
	width: 85px;
	height: 85px;
	-webkit-border-radius: 150px;
	margin-left: .2em;
	margin-top: .1em;
}

#home_icon:hover {
	opacity: .4;
	background-color: black;
}

#mb {
	font-family: Gill Sans, sans-serif;
	font-size: 3em;
	text-decoration: underline;
	margin-left: .3em;
	margin-top: -1.6em;
	margin-bottom: -1.7em;
	padding-bottom: .7em;
}

ul {
	font-family: 'Vollkorn', serif;
	font-size: 1.3em;
	color: #014b5d;
	list-style: none;
	margin-bottom: 3.5em;
	/*padding: .4em*/
}

ul li {
	display: inline-block;
	float: right;
	margin-right: 1.5em;
	margin-top: -.2em;
}


ul li a{
    padding: 5px 10px;
    color: #014b5d;
    text-decoration: none;
    transition: .4s ease-in-out;
}

ul li a:hover{
    text-decoration: underline;
	color: #cecea2;
}

ul li ul{
    display: none;
}

ul li:hover ul{
	display: block;
    padding: 5px 10px;;
    font-size: .6em;
    margin-top: -1.5em;
}

#options1 {
	margin-left: -5.8em;
	margin-top: 1.1em;
	margin-right: -.58em;
}

#options2 {
	margin-left: -4em;
	margin-top: 2.5em;
	margin-right: -1.1em;
	margin-bottom: .3em;
}

.chef {
	font-family: 'Vollkorn', serif;
	color: white;
	margin-top: -7em;
	margin-left: 19.0em;
	padding-bottom: 2em;
	position: absolute;
	transition: .4s ease-in-out;
	height: 100%;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	
}


h2 {
	margin-top: 1em;
	margin-bottom: -.5em;
	width: 100%;
	margin-left: .1em;
	margin-right: auto;
	text-align: center;
}

#triangle {
	
	width: 0;
	height: 0;
	border-left: 400px solid transparent;
	border-right: 400px solid transparent;
	border-top: 600px solid rgba(210, 180, 140, 0);
	margin-top: -7em;
	margin-left: -25em;
	transition: .4s ease-in-out;
	z-index: 10;
	position: absolute;
	top: 50%;
	left: 50%;
		
}

#triangle:hover {
	border-top: 500px solid rgba(253, 253, 253, 0.32);
}

.indent {
	text-align: center;
	margin-bottom: -1em;
}

#container {
    position: relative;
}


footer {
	text-align: center;
	margin-top: 20em;
	margin-bottom: 1.0em;
	margin-left: 22em;
	padding-top: 30em;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	/*width: 106.5%;
	background-color: black;
	margin-bottom: -10em;
	margin-left: -.5em;*/
}

#twitter {
	margin-bottom: .15em;
}

#twitter:hover {
	-webkit-filter: invert(50%);
}

#twitter:active{
	-webkit-filter: invert(10%);
}

#google {
	margin-bottom: .16em;
}

#google:hover {
	-webkit-filter: invert(50%);
}

#google:active{
	-webkit-filter: invert(10%);
}

#linkedin {
	margin-bottom: .2em
}

#linkedin:hover {
	-webkit-filter: invert(50%);
}

#linkedin:active{
	-webkit-filter: invert(10%);
}

#facebook:hover {
	-webkit-filter: invert(50%);
}

#facebook:active{
	-webkit-filter: invert(10%);
}

#github {
	margin-bottom: -.08em;
}

#github:hover {
	-webkit-filter: invert(50%);
}
	
#github:active{
	-webkit-filter: invert(10%);
}	

#the_gram:hover {
	-webkit-filter: invert(50%);
}

#the_gram:active{
	-webkit-filter: invert(10%);
}


}




@media screen and (max-width: 670px) {

body {
	background-image: url("../imgs/Aboutme.JPG");
	margin-left: 2em;
	background-size: 207%;
}

header {
	width: 100%;
	position: fixed;
	z-index: 1000;
	margin-top: -7em;
	background-color: white;
	margin-left: -2em;
	margin-top: -20em;
	background-color: white;
	border-bottom: inset;
	opacity: .9;
}

#home_icon {
	width: 85px;
	height: 85px;
	-webkit-border-radius: 150px;
	margin-left: .2em;
	margin-top: .1em;
}

#home_icon:hover {
	opacity: .4;
	background-color: black;
}

#mb {
	font-family: Gill Sans, sans-serif;
	font-size: 3em;
	text-decoration: underline;
	margin-left: .3em;
	margin-top: -1.6em;
	margin-bottom: -1.7em;
	padding-bottom: .7em;
}

ul {
	font-family: 'Vollkorn', serif;
	font-size: 1.3em;
	color: #014b5d;
	list-style: none;
	margin-bottom: 3.5em;
	/*padding: .4em*/
}

ul li {
	display: inline-block;
	float: right;
	margin-right: 1.5em;
	margin-top: -.2em;
}

#button {
	display: block;
}

ul li a{
    padding: 5px 10px;
    color: #014b5d;
    text-decoration: none;
    transition: .4s ease-in-out;
}

ul li a:hover{
    text-decoration: underline;
	color: #cecea2;
}

ul li ul{
    display: none;
}

ul li:hover ul{
	display: block;
    padding: 5px 10px;;
    font-size: .6em;
    margin-top: -1.5em;
}

#options1 {
	margin-left: -5.8em;
	margin-top: 1.1em;
	margin-right: -.58em;
}

#options2 {
	margin-left: -4em;
	margin-top: 2.5em;
	margin-right: -1.1em;
	margin-bottom: .3em;
}

.chef {
	font-family: 'Vollkorn', serif;
	color: white;
	margin-top: -7em;
	margin-left: 19.0em;
	padding-bottom: 2em;
	position: absolute;
	transition: .4s ease-in-out;
	height: 100%;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	
}


h2 {
	margin-top: 1em;
	margin-bottom: -.5em;
	width: 100%;
	margin-left: .1em;
	margin-right: auto;
	text-align: center;
}

#triangle {

	display: none;
	width: 0;
	height: 0;
	border-left: 400px solid transparent;
	border-right: 400px solid transparent;
	border-top: 600px solid rgba(210, 180, 140, 0);
	margin-top: -7em;
	margin-left: -25em;
	transition: .4s ease-in-out;
	z-index: 10;
	position: absolute;
	top: 50%;
	left: 50%;
		
}

#triangle:hover {
	border-top: 500px solid rgba(253, 253, 253, 0.32);
}

.indent {
	text-align: center;
	margin-bottom: -1em;
}

#container {
    position: relative;
}


footer {
	text-align: center;
	margin-top: 20em;
	margin-bottom: 1.0em;
	margin-left: 22em;
	padding-top: 30em;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	/*width: 106.5%;
	background-color: black;
	margin-bottom: -10em;
	margin-left: -.5em;*/
}

#twitter {
	margin-bottom: .15em;
}

#twitter:hover {
	-webkit-filter: invert(50%);
}

#twitter:active{
	-webkit-filter: invert(10%);
}

#google {
	margin-bottom: .16em;
}

#google:hover {
	-webkit-filter: invert(50%);
}

#google:active{
	-webkit-filter: invert(10%);
}

#linkedin {
	margin-bottom: .2em
}

#linkedin:hover {
	-webkit-filter: invert(50%);
}

#linkedin:active{
	-webkit-filter: invert(10%);
}

#facebook:hover {
	-webkit-filter: invert(50%);
}

#facebook:active{
	-webkit-filter: invert(10%);
}

#github {
	margin-bottom: -.08em;
}

#github:hover {
	-webkit-filter: invert(50%);
}
	
#github:active{
	-webkit-filter: invert(10%);
}	

#the_gram:hover {
	-webkit-filter: invert(50%);
}

#the_gram:active{
	-webkit-filter: invert(10%);
}


}






@media screen and (max-width: 565px) {

body {
	background-image: url("../imgs/Aboutme.JPG");
	margin-left: 2em;
	background-size: 111%;
}

header {
	width: 100%;
	position: fixed;
	z-index: 1000;
	margin-top: -7em;
	background-color: white;
	margin-left: -2em;
	margin-top: -20em;
	background-color: white;
	border-bottom: inset;
	opacity: .9;
}

#home_icon {
	width: 85px;
	height: 85px;
	-webkit-border-radius: 150px;
	margin-left: .2em;
	margin-top: .1em;
}

#home_icon:hover {
	opacity: .4;
	background-color: black;
}

#mb {
	font-family: Gill Sans, sans-serif;
	font-size: 3em;
	text-decoration: underline;
	margin-left: .3em;
	margin-top: -1.6em;
	margin-bottom: -1.7em;
	padding-bottom: .7em;
}

body div{
	display: block;
	margin-right: 1em;
	margin-bottom: 1.3em;		    
	opacity: .4;
	margin-top: .5em; 
	background-color: white; 
	float: right;
}

#buttin {
	margin-left: 2em;
}

body div:hover{
	opacity: .6;
	background-opacity: .8;
	margin-left: 25.2em

}

div img {
	margin-left: 7em;
}


body div ul {
	display: none;
	font-size: 1em;
	display: none;
	width: 100%;
	margin-left: -.6em;
	margin-right: 1.4em;
	opacity: 1;
}

body div:hover ul{
	display: list-item;
	width: 100%;
	font: 1em;
}

body div ul li ul{
    display: none;
}


/*.options {
	margin-right: -10em;
	width: 100%;
	float: right;
}*/

#options3 {
	margin-right: -4.9em;
	margin-top: 1em
}

#options2 {
	margin-right: -4.72em;
	margin-top: 2.3em;
	margin-bottom: .08em;
}

#options1 {
	margin-right: -4.72em;
	margin-bottom: .02em;
	margin-top: 1em;
}

/*#options1:hover{
	display: block;
    padding: 5px 10px;;
    font-size: .6em;
    margin-top: -1.5em;
}
  */


ul {
	font-family: 'Vollkorn', serif;
	font-size: 1em;
	color: #014b5d;
	list-style: none;
	margin-bottom: .5em;
	display: none;
	margin-top: .5em;
	/*padding: .4em*/
}

.chef {
	font-family: 'Vollkorn', serif;
	color: white;
	margin-top: -1em;
	margin-left: 19.0em;
	padding-bottom: 2em;
	position: absolute;
	transition: .4s ease-in-out;
	height: 100%;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	font-size: .9em;
	
}


h2 {
	margin-top: 1em;
	margin-bottom: -.5em;
	width: 100%;
	margin-left: .1em;
	margin-right: auto;
	text-align: center;
}

#triangle {

	display: none;
	width: 0;
	height: 0;
	border-left: 400px solid transparent;
	border-right: 400px solid transparent;
	border-top: 600px solid rgba(210, 180, 140, 0);
	margin-top: -7em;
	margin-left: -25em;
	transition: .4s ease-in-out;
	z-index: 10;
	position: absolute;
	top: 50%;
	left: 50%;
		
}

#triangle:hover {
	border-top: 500px solid rgba(253, 253, 253, 0.32);
}

.indent {
	text-align: center;
	margin-bottom: -1em;
}

#container {
    position: relative;
}


footer {
	text-align: center;
	margin-top: 20em;
	margin-bottom: -5em;
	margin-left: 22em;
	padding-top: 30em;
	width: 117%;
	margin-left: -2em;
	margin-right: auto;
	background-color: black;
	border-bottom: solid 1em;
}

#twitter {
	margin-bottom: .15em;
	-webkit-filter: invert(100%);
}

#twitter:hover {
	-webkit-filter: invert(100%);
}

#twitter:active{
	-webkit-filter: invert(10%);
}

#google {
	margin-bottom: .16em;
	-webkit-filter: invert(100%);
}

#google:hover {
	-webkit-filter: invert(100%);
}

#google:active{
	-webkit-filter: invert(10%);
}

#linkedin {
	margin-bottom: .2em;
	-webkit-filter: invert(100%);
}

#linkedin:hover {
	-webkit-filter: invert(100%);
}

#linkedin:active{
	-webkit-filter: invert(10%);
}

#facebook {
	-webkit-filter: invert(100%);
}

#facebook:hover {
	-webkit-filter: invert(100%);
}

#facebook:active{
	-webkit-filter: invert(10%);
}

#github {
	margin-bottom: -.09em;
	-webkit-filter: invert(100%);
}

#github:hover {
	-webkit-filter: invert(100%);
}
	
#github:active {
	-webkit-filter: invert(10%);
}

#the_gram {
	-webkit-filter: invert(100%);
} 	

#the_gram:hover {
	-webkit-filter: invert(100%);
}

#the_gram:active{
	-webkit-filter: invert(10%);
}


}





