.about-pic {
	border-radius: 50%;
}

#about p {
	position: relative;	
	color: rgb(32, 35, 38);
	width: 65%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
  font-size: 1.2em;
}

#about img {
	height: 10em;
}