html {
width: 100%;
}

header {
    font-family:courier;
    text-align: center;
  }

#left {
  width: 30%;
  border: 1px solid black;
  float: left;
  background-color: #faebd7;
  color: black;
  font-family:courier;
  font-size: 15px;
  padding: 20px;
  left: 155px;
  position:relative;
  text-align: center;

}

#right {
  width: 30%;
  border: 1px solid black;
  float: right;
  background-color: #faebd7;
  color: black;
  font-family:courier;
  font-size: 15px;
  padding: 20px;
  position:relative;
  right:125px;
  bottom:685px;
  text-align: center;
}


.clear { clear: both;}