.contact-section h1 {
	color: #e6af61;
}

input, textarea {
	background-color: rgb(32,35,38);
  border: none;
  color: black;
  font-size: 2em;
  width: 14em;
  outline: none;
}

input p {
	color: #e6af61;
}


textarea:focus, input:focus {
    color: #e6af61;
}


#form-div {
	margin-top: 12em;
}

#sub-button {
  width: 4em;
  background-color: transparent;
  border: .2em solid rgb(32,35,38);
  transition-duration: .4s;
}

#sub-button:hover {
  background-color: rgb(32,35,38);
  border: .2em solid rgb(32,35,38);
  color: #e6af61;
}


footer {
	background: transparent;
	margin-top: -6em;
	margin-left: -18em;
}

.social {
	margin-right: .2em;
	color: rgb(32,35,38);
	transition-duration: .2s;
}

.social:hover {
	color: #e6af61;
}


