@font-face { font-family: FFF-Tusj; src: url('FFF_Tusj.ttf'); } 
@font-face { font-family: Fontin; src: url('Fontin-Regular.ttf'); } 

/*#e6af61*/


body {
	font-family: 'Carrois Gothic SC', sans-serif;
	text-align: center;
  background-color: black;

}

html {
    -webkit-font-smoothing: antialiased;
    background-color: rgb(249, 247, 247);
    line-height: 1.5;
}

h1 {
	font-weight: bold;
	font-family: FFF-Tusj;
	font-size: 5em;
}

p {
	font-family: Fontin;
}
