#layout {
  color: black;
  border-radius: 10%
}










-webkit-filter: invert(100%);
    filter: invert(100%);
#music_log {
    width: 20em;
    height: 20em;
}

#boom {
    margin-left: 30em;
    margin-top: 10em;
}

#box {
    width: 10em;
    height: 10em;
    /*border-radius: 10%;*/
    background-color: black;
    color: white;
}
 #circle {
      width: 5em;
  height: 5em;
  border-radius: 100%;
  background-color: white;
  position: absolute;
  margin-top: -7.5em;
  margin-left: 2.5em;

 }

 #small_circle {
  width: 2.5em;
  height: 2.5em;
  border-radius: 100%;
  background-color: black;
  position: absolute;
  margin-top: -6.3em;
  margin-left: 3.7em;
 }

 #square {
    width: 1.5em;
    height: 1.5em;
    background-color: white;
    border-radius: 10%;
  margin-top: -9.4em;
  margin-left: 7.5em;
 }

 #line {
   color: white;
  position: absolute;
  margin-top: -1.74em;
  font-size: 9em;
  font-weight: bolder;
 }

 .bass {
     color: red;
  font-size: 10em;
  margin-top: -1.2em;
  position: absolute;
  margin-left: -.06em;
 }

 #thing1 {
    color: white;
    font-size: 14em;
    margin-top: -1.3em;
  position: absolute;
  margin-left: -.07em;

 }
 #thing2 {
     color: white;
  font-size: 14em;
  margin-top: -1.45em;
  position: absolute;
  margin-left: 0.09em;

 }
 #thing3 {
  color: white;
  font-size: 14em;
  margin-top: -1.45em;
  position: absolute;
  margin-left: 0.4em;

 }
 #thing4 {
    color: white;
    font-size: 14em;
    margin-top: -1.3em;
  position: absolute;
  margin-left: .56em;

 }

video {
    position: fixed; right: 0; bottom: 0;
    min-width: 100%; min-height: 100%;
    width: auto; height: auto; z-index: -100;
    background: url(imgs/site_icon.jpeg) no-repeat;
    background-size: cover;
}

h1 {
    color: white;
    text-align: center;
    margin-top: 10em;
}

#navbar-search {
    margin-top: -1em;
    text-align: center;
}

#search_bar {
    width: 30em;
    height: 2em;
}

#menu {
    color: white;
}

ul {
    color: white;
    background-color: gray;
    transition-duration: .5s;
  transition-timing-function: linear;
  margin-left: -10em;
  width: 10%;

}

ul:hover {
margin-left: 0em;
}


