@font-face { font-family: FFF-Tusj; src: url('FFF_Tusj.ttf'); } 
@font-face { font-family: Fontin; src: url('Fontin-Regular.ttf'); } 

/*#e6af61*/


body {
	font-family: 'Carrois Gothic SC', sans-serif;
	text-align: center;
  background-color: black;

}

html {
    -webkit-font-smoothing: antialiased;
    background-color: rgb(249, 247, 247);
    line-height: 1.5;
}

h1 {
	font-weight: bold;
	font-family: FFF-Tusj;
	font-size: 5em;
}

p {
	font-family: Fontin;
}

#icon {
	height: 4em;
	width: 4em;
	border-radius: 50%;
	top: -1.6em;
	position: relative;
	border: 3px solid white;
}



#header li a {
	padding-right: 2em;
	padding-left: -3em;
	color: #e6af61;
	font-family: 'Carrois Gothic SC', sans-serif;
	font-size: 1.2em;
	transition-duration: 3s;
	padding: 1px
}

.underline {
	border-bottom: 2px solid #e6af61 ;
	/*text-decoration: underline;*/
	transition-duration: .5s;
}

#top-nav {
	background-color: transparent;
	border-bottom: none;
}

.navbar-nav > li {
	margin-right: 2em;
}

#header {
	margin-left:2.8em;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

#welcome-section {
	background-image: url("../imgs/home.jpeg");
	background-attachment: fixed, scroll;
	background-size: cover;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	position: relative;
	background-color: black;
	opacity: .35;

}



#crown {
	background-image: url("../imgs/home-crown.png");
	background-attachment: fixed, scroll;
	background-size: cover;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	position: relative;
	background-color: black;
}

#black {
	background-color: black;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	top: -7em;
	color: black;

}

#welcome-words {
	position: relative;
	color: white;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: -42em;
}

#welcome-words h1 {
	font-size: 7em;
	/*font-family: 'Carrois Gothic SC', sans-serif;*/

}

#welcome-words h2 {
	font-size: 3em;
	font-weight: bold;
}

#name {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 30%;
	color: silver;
}

#scroll-btn {
	margin-top: 10em;
	position: absolute;
}

.down-arrow, .down-arrow a {
	color: white;
	top: -15.3em;
	position: absolute;
	right: -38px;
	height: 4em;
	-webkit-filter: invert(100%);
    filter: invert(100%);
    opacity: 1;
}

.crown {
	height: 4em;
	width: 4em;
}

.name {
	display: inline-block;
	color: white;
	position: relative;
	top: -1em;
}

.about-pic {
	border-radius: 50%;
}

#about p {
	position: relative;	
	color: rgb(32, 35, 38);
	width: 65%;
  margin-left: 12.4em;
  margin-top: 3em;
  font-size: 1.2em;

}

#gap-1 {
	background-image: url("../imgs/cultural.JPG");
	background-attachment: fixed, scroll;
	background-size: cover;
	height: 100%;
	position: relative;
	opacity: .6;
}

#gap-2 {
	background-image: url("../imgs/train.gif");
  background-attachment: fixed, scroll;
  background-size: cover;
  height: 24%;
  position: relative;
  opacity: .9;
}

/*#black-gap-1 {
	background-color: black;
	height: 40%;
	top: 10em;
	position: relative;

}
*/


#projects h1 {
	margin-top: 1.7em;
	margin-bottom: 2em;
	color: rgb(32,35,38);
}

.projects {
	width: 33em;
	margin-bottom: 6em;
	transition: opacity .5s ease-in;
}

.project-title {
	caption-side: bottom;
	text-align: center;
	color: rgb(32,35,38);
	margin-top: -4em;
	font-weight: bold;
	font-size: 1em;
	border: 3px solid rgb(32,35,38);
	padding: 0 -2em 0 -2em;
	width: 26%;
	margin-left: 11em;
	transition-duration: .5s;
 
}

.project-title:hover {
	color: #e6af61;
	background: rgb(32,35,38);
}

.project-title:active {
	color: #e6af61;
	border-color: #e6af61;
}


.project-desc {
  margin-top: -.4em;
  position: absolute;
  z-index: 1;
  text-align: center;
  background-color: rgba(16, 16, 16, 0.81);
  border: 1px solid white;
  height: 14em;
  width: 30em;
  margin-left: 1.4em;
  transition-duration: .3s;
  opacity: 0;
  color: white;
  transition: all .44s ease;
}



.desc-trans {
	opacity: 1;
	margin-top: 1.6em;
}



.project-desc p {
	margin-top: 3em;
	font-weight: bold;
  font-family: 'Carrois Gothic SC', sans-serif;

}

.project-desc p span {
	color: #e6af61;
}


.album {
	width: 20em;
	height: 20em;
}



#under-albums {
	background-image: url("../imgs/cultural.JPG");
	background-attachment: fixed, scroll;
	background-size: cover;
}

.dev-projects {
	width: 40em;
}

#banner {
	width: 100%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: -1.5em;
	margin-bottom: 9em;
}

.contact-section h1 {
	color: #e6af61;
}

footer {
	background: transparent;
	margin-top: -4em;
	margin-left: -50em;
	/*background-color: rgb(32,35,38);*/
}

.social {
	margin-right: .2em;
	color: rgb(32,35,28);
	transition-duration: .2s;
}

.social:hover {
	color: #e6af61;
}


