@font-face { font-family: Delicious; src: url('delicious_[123].sit'); } 

/*#e6af61*/
body {
	font-family: 'Carrois Gothic SC', sans-serif;
	text-align: center;
	background: black;
}

html {
    -webkit-font-smoothing: antialiased;
    background-color: black;
}

#icon {
	height: 4em;
	width: 4em;
	border-radius: 50%;
	top: -1.6em;
	position: relative;
	border: 3px solid white;
}



#header li a {
	padding-right: 2em;
	padding-left: -3em;
	color: #e6af61;
	font-family: 'Carrois Gothic SC', sans-serif;
	font-size: 1.2em;
	transition-duration: 3s;
	padding: 1px
}

.underline {
	border-bottom: 2px solid #e6af61 ;
	/*text-decoration: underline;*/
	transition-duration: .5s;
}

#top-nav {
	background-color: transparent;
	border-bottom: none;
}

.navbar-nav > li {
	margin-right: 2em;
}

#header {
	margin-left:2.8em;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

#welcome-section {
	background-image: url("../imgs/home.jpeg");
	background-attachment: fixed, scroll;
	background-size: cover;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	position: relative;
	background-color: black;
	opacity: .35;

}

#crown {
	background-image: url("../imgs/home-crown.png");
	background-attachment: fixed, scroll;
	background-size: cover;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	position: relative;
	background-color: black;
}

#black {
	background-color: black;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	top: -7em;
	color: black;

}

#welcome-words {
	position: relative;
	color: white;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: -42em;
}

#welcome-words h1 {
	font-size: 7em;
}

#welcome-words h2 {
	font-size: 3em;
	font-weight: bold;
}

#name {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 30%;
	color: silver;
}

#scroll-btn {
	margin-top: 10em;
	position: absolute;
}

.down-arrow, .down-arrow a {
	color: white;
	top: -15.3em;
	position: absolute;
	right: -38px;
	height: 4em;
	-webkit-filter: invert(100%);
    filter: invert(100%);
    opacity: 1;
}

.crown {
	height: 4em;
	width: 4em;
}

.name {
	display: inline-block;
	color: white;
	position: relative;
	top: -1em;
}

.about-pic {
	border-radius: 50%;
}

#about p {
	position: relative;	
	top: 1em;
}

#gap-1 {
	background-image: url("../imgs/cultural.JPG");
	background-attachment: fixed, scroll;
	background-size: cover;
	height: 100%;
	position: relative;
	opacity: .6;
}

#black-gap-1 {
	background-color: black;
	height: 40%;
	top: 10em;
	position: relative;

}

#projects {
	display: inline;
	list-style-type: none;
	width: 10%;
	background: black;
}

#projects h1 {
	margin-top: 1.7em;
	margin-bottom: 2em;
	color: white;
}

.projects {
	width: 33em;
	margin-bottom: 6em;
}

.project-title {
	caption-side: bottom;
	text-align: center;
	color: white;
	margin-top: -4em;
	font-weight: bold;
	font-size: 1em;
	border: 3px solid white;
	padding: 0 -2em 0 -2em;
	width: 26%;
	margin-left: 11em;
	transition-duration: .4s;
}

.project-title:hover {
	background-color: silver;
	color: black;
}


.album {
	width: 20em;
	height: 20em;
}



#under-albums {
	background-image: url("../imgs/cultural.JPG");
	background-attachment: fixed, scroll;
	background-size: cover;
}

.dev-projects {
	width: 40em;
}

#banner {
	width: 100%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: -1.5em;
	margin-bottom: 9em;
}





