@font-face { font-family: Delicious; src: url('delicious_[123].sit'); } 

/*#e6af61*/
body {
	font-family: 'Carrois Gothic SC', sans-serif;
}

html {
    -webkit-font-smoothing: antialiased;
}

#icon {
	height: 4em;
	width: 4em;
	border-radius: 50%;
	top: -1.6em;
	position: relative;
	border: 3px solid white;
}



#header li a {
	padding-right: 2em;
	padding-left: -3em;
	color: #e6af61;
	font-family: 'Carrois Gothic SC', sans-serif;
	font-size: 1.2em;
	transition-duration: 3s;
	padding: 1px
}

.underline {
	border-bottom: 2px solid #e6af61 ;
	/*text-decoration: underline;*/
	transition-duration: .5s;
}

#top-nav {
	background-color: transparent;
	border-bottom: none;
}

.navbar-nav > li {
	margin-right: 2em;
}

#header {
	margin-left:2.8em;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

#welcome-section {
	background-image: url("../imgs/home.jpeg");
	background-attachment: fixed, scroll;
	background-size: cover;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	position: relative;
	background-color: black;
	opacity: .35;

}

#crown {
	background-image: url("../imgs/home-crown.png");
	background-attachment: fixed, scroll;
	background-size: cover;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	position: relative;
	background-color: black;
}

#black {
	background-color: black;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	top: -7em;
	color: black;

}

#welcome-words {
	position: relative;
	color: white;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: -42em;
}

#welcome-words h1 {
	font-size: 7em;
}

#welcome-words h2 {
	font-size: 3em;
	font-weight: bold;
}

#name {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 30%;
	color: silver;
}

#scroll-btn {
	margin-top: 10em;
	position: absolute;
}

.down-arrow, .down-arrow a {
	color: white;
	top: -15.3em;
	position: absolute;
	right: -38px;
	height: 4em;
	-webkit-filter: invert(100%);
    filter: invert(100%);
    opacity: 1;
}

.crown {
	height: 4em;
	width: 4em;
}

.name {
	display: inline-block;
	color: white;
	position: relative;
	top: -1em;
}

.about-pic {
	border-radius: 50%;
}

li a:focus {
}

.left {
	float: left;
	width: 50%;
	height: 100%;
	margin-top: -5em;
	height: 100%;
}

.right {
	float: right;
	width: 50%;
	height: 100%;
	margin-top: -5em;
	height: 100%;
}

#projects {
	display: inline;
	list-style-type: none;
	width: 10%
}

.album {
	width: 20em;
	height: 20em;
}



/*.album-first {
	width: 20em;
	height: 20em;
	position: relative;
	top: -10.7em;
	left: 0;
	float: left;
}

.album-second {
	width: 20em;
	height: 20em;
	position: relative;
	top: -10.7em;
	left: -4.4em;
	float: left;
}*/

#under-albums {
	background-image: url("../imgs/cultural.JPG");
	background-attachment: fixed, scroll;
	background-size: cover;
}


