p {
	font-family: 'Vollkorn', serif;
}

#cover {
	height: 36em;
	width: 36em;
}

#name {
	font-weight: bolder;
font-size: 2.1em;
margin-left: .2em;
margin-top: -1.4em;
color: rgb(216, 224, 226);
}

#vol {
	font-size: 2.0em;
font-weight: bolder;
margin-left: 13.6em;
margin-top: -2.5em;
color: rgb(216, 224, 226);
}

#logo {
	position: relative;
margin-bottom: -1.5em;
margin-left: 0.4em;
	
}

#vinyl {
	position: relative;
height: 36em;
width: 36em;
margin-bottom: -36em;
opacity: .34;
}